@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Fira+Mono&display=swap");

:root {
  --theme-primary-color: #4d5bce;
  --theme-secondary-color: #43d9ad;
  --theme-link-color: #e99287;
  --theme-primary-color-back: #011627;
  --theme-text-color: #fff;
  --theme-text-color-com: #8f8c8c;
  --theme-background-color: #43d9ad;
}

body {
  background-image: url("./assets/bg-port.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; /* Position image at center bottom */
  min-height: 100vh; /* Set minimum height to viewport height */
  margin: 0; /* Remove any default margins */
  display: flex; /* Enable flexbox for content positioning */
  flex-direction: column; /* Stack content vertically */
  color: var(--theme-text-color);
  &.dark {
  }
}

/* Appliquer Montserrat aux titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Appliquer Fira Mono au reste du texte */
body,
p,
a,
li,
span {
  font-family: "Fira Mono", monospace;
}

.MuiListItemText-root {
  font-size: 0.875rem; // Default font size
}

// Optionally, customize font size for specific elements within ListItemText className="my-list-text"
.MuiListItemText-root span {
  font-size: 0.875rem;
}

.MuiListItemText-root p {
  font-size: 0.875rem;
}

@media (max-width: 720px) {
  .my-list-text {
    font-size: 0.7rem;
  }
}

.navBar {
  top: 0;
  background-color: transparent;
  .no-logo {
    cursor: pointer;
  }
}
.footer {
  background-color: transparent;
}
.comment {
  color: var(--theme-text-color-com);
}
.home {
  display: flex;
  justify-content: space-between;
  .left-text {
    .title-chevron {
      color: var(--theme-primary-color);
      font-weight: bold;
    }
    .comment {
      color: var(--theme-text-color-com);
    }
    .const {
      color: var(--theme-primary-color);
    }
    .name-const {
      color: var(--theme-secondary-color);
    }
    .link {
      color: var(--theme-link-color);
    }
    .link:hover {
      cursor: pointer;
    }
  }
}

// Définir l'animation de frappe
@keyframes typing {
  from {
    width: 0; // Commencer avec une largeur de texte de 0
  }
  to {
    width: 100%; // Augmenter progressivement la largeur du texte jusqu'à 100%
  }
}

// Appliquer l'animation aux éléments avec la classe "typing-animation"
.typing-animation {
  overflow: hidden; // Cacher le texte qui déborde
  white-space: nowrap; // Empêcher le texte de passer à la ligne
  animation: typing 2s steps(40, end); // Utiliser l'animation "typing" avec une durée de 2 secondes
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: var(--theme-primary-color);
  border-radius: 20%;
}
.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: var(--theme-secondary-color);
  border-radius: 5%; /* arrondit les coins pour former un cercle */
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: flex-start; // Aligner au début de la boîte parente
  margin-top: 20px; // Ajout de marge en haut pour aligner avec le plateau de jeu
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.103); // Blanc semi-transparent
  border: 1px solid black;
  box-shadow: 0px 4px 8px var(--theme-primary-color-back);
  .plateau {
    width: 500px; // Ajustement de la largeur du plateau à 500px
    height: 500px; // Ajustement de la hauteur du plateau à 500px
    border-radius: 10px;
    background-color: var(--theme-primary-color-back);
    box-shadow: 0px 4px 8px var(--theme-primary-color-back);
    position: relative;
    border: 2px solid black;
    .game-over {
      border: 1px solid var(--theme-link-color);
      box-shadow: 0px 4px 8px red;
      background-color: var(--theme-link-color);
      .title-go {
        color: rgb(163, 1, 1);
        font-weight: bold;
      }
      .score-go {
        color: rgb(163, 1, 1);
      }
      .divider-go {
        color: rgb(163, 1, 1);
      }
    }
  }
}

// Styles pour la liste d'intérêts
.interest-list {
  padding: 20px;
  background-color: var(--theme-primary-color-back);
}

// Styles pour les conteneurs d'images
.interest-image-container {
  flex-direction: column;
  padding: 10px;
}

// Styles pour les images
.interest-image {
  border: 2px solid var(--theme-primary-color);
  transition: transform 0.3s ease;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  &:hover {
    transform: scale(1.05);
  }

  /* Media query for screens 768px and smaller */
  @media (max-width: 768px) {
    width: 200px;
    height: 100px;
  }
}

// Styles pour les titres
.interest-title {
  margin-bottom: 10px;
  color: var(--theme-text-color);
  text-align: center;
}

// Styles pour les dialogues
.interest-dialog {
  .dialog-title {
    background-color: var(--theme-primary-color);
    color: white;
  }

  .dialog-content {
    background-color: white;
    color: var(--theme-text-color);
  }

  .dialog-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
