@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Fira+Mono&display=swap");

:root {
  --theme-primary-color: #4d5bce;
  --theme-secondary-color: #43d9ad;
  --theme-link-color: #e99287;
  --theme-primary-color-back: #011627;
  --theme-text-color: #fff;
  --theme-text-color-com: #8f8c8c;
  --theme-background-color: #43d9ad;
}

body {
  background-image: url("./assets/bg-port.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; /* Position image at center bottom */
  min-height: 100vh; /* Set minimum height to viewport height */
  margin: 0; /* Remove any default margins */
  display: flex; /* Enable flexbox for content positioning */
  flex-direction: column; /* Stack content vertically */
  color: var(--theme-text-color);
  &.dark {
  }
}

/* Appliquer Montserrat aux titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Appliquer Fira Mono au reste du texte */
body,
p,
a,
span {
  font-family: "Fira Mono", monospace;
}
li {
  font-family: "Fira Mono", monospace;
  margin-bottom: 10px; /* Ajustez cette valeur selon l'espace souhaité */
  font-size: 1.1rem; /* Ajustez cette valeur selon la taille de police souhaitée */
  letter-spacing: 0.5px; /* Ajustez cette valeur selon l'espacement souhaité */
}
/* Width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--theme-link-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary-color-back);
}

.MuiListItemText-root {
  font-size: 0.875rem; // Default font size
}

// Optionally, customize font size for specific elements within ListItemText className="my-list-text"
.MuiListItemText-root span {
  font-size: 0.875rem;
}

.MuiListItemText-root p {
  font-size: 0.875rem;
}

@media (max-width: 720px) {
  .my-list-text {
    font-size: 0.7rem;
  }
}

.navBar {
  top: 0;
  background-color: transparent;
  .no-logo {
    cursor: pointer;
  }
}
.footer {
  background-color: transparent;
}
.comment {
  color: var(--theme-text-color-com);
}
.home {
  display: flex;
  justify-content: space-between;
  .left-text {
    .title-chevron {
      color: var(--theme-primary-color);
      font-weight: bold;
    }
    .comment {
      color: var(--theme-text-color-com);
    }
    .const {
      color: var(--theme-primary-color);
    }
    .name-const {
      color: var(--theme-secondary-color);
    }
    .link {
      color: var(--theme-link-color);
    }
    .link:hover {
      cursor: pointer;
    }
  }
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: var(--theme-primary-color);
  border-radius: 20%;
}
.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: var(--theme-secondary-color);
  border-radius: 5%; /* arrondit les coins pour former un cercle */
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: flex-start; // Aligner au début de la boîte parente
  margin-top: 20px; // Ajout de marge en haut pour aligner avec le plateau de jeu
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.103); // Blanc semi-transparent
  border: 1px solid black;
  box-shadow: 0px 4px 8px var(--theme-primary-color-back);
  .plateau {
    width: 500px; // Ajustement de la largeur du plateau à 500px
    height: 500px; // Ajustement de la hauteur du plateau à 500px
    border-radius: 10px;
    background-color: var(--theme-primary-color-back);
    box-shadow: 0px 4px 8px var(--theme-primary-color-back);
    position: relative;
    border: 2px solid black;
    .game-over {
      border: 1px solid var(--theme-link-color);
      box-shadow: 0px 4px 8px red;
      background-color: var(--theme-link-color);
      .title-go {
        color: rgb(163, 1, 1);
        font-weight: bold;
      }
      .score-go {
        color: rgb(163, 1, 1);
      }
      .divider-go {
        color: rgb(163, 1, 1);
      }
    }
  }
}

// Styles pour la liste d'intérêts
.interest-list {
  padding: 20px;
  background-color: var(--theme-primary-color-back);
}

// Styles pour les conteneurs d'images
.interest-image-container {
  flex-direction: column;
  padding: 10px;
}

// Styles pour les images
.interest-image {
  border: 2px solid var(--theme-primary-color);
  transition: transform 0.3s ease;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  &:hover {
    transform: scale(1.05);
  }

  /* Media query for screens 768px and smaller */
  @media (max-width: 768px) {
    width: 200px;
    height: 100px;
  }
}

// Styles pour les titres
.interest-title {
  margin-bottom: 10px;
  color: var(--theme-text-color);
  text-align: center;
}

// Styles pour les dialogues
.interest-dialog {
  .dialog-title {
    background-color: var(--theme-primary-color);
    color: white;
  }

  .dialog-content {
    background-color: white;
    color: var(--theme-text-color);
  }

  .dialog-text {
    font-size: 22px;
    line-height: 1.5;
  }
}

.box-image-projet2 {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; // Centrer la boîte dans la grille
}
.box-image-projet {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; // Centrer la boîte dans la grille
}
.card-ball {
  border: 2px solid var(--theme-primary-color);
}
.custom-link {
  color: var(--theme-secondary-color); /* Couleur du lien */
  text-decoration: none; /* Supprime le soulignement par défaut */
}
.large-text-list li {
  margin-bottom: 10px; /* Ajustez cette valeur selon l'espace souhaité */
  font-size: 1.2rem; /* Ajustez cette valeur selon la taille de police souhaitée */
}

.custom-link:hover {
  text-decoration: underline; /* Soulignez le lien au survol */
}

.title-project {
  text-align: center;
  color: var(--theme-secondary-color);
}
.developer-grid {
  background-color: var(--theme-primary-color-back);
}
.image-projet {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--theme-primary-color);
  transition: transform 0.3s ease;
  border-radius: 5px;
  &:hover {
    transform: scale(1.1);
  }
}

.dialog-ball {
  padding: 5; /* Vérifiez si c'est une faute de frappe, cela devrait probablement être "5px" pour spécifier 5 pixels */
  background-color: var(--theme-primary-color-back);
  color: antiquewhite;

  /* Styles pour le contenu du dialogue */
  .dialog-content {
    /* Styles pour la carte dans le contenu du dialogue */
    .card-ball {
      padding: 2; /* Vérifiez si c'est une faute de frappe, cela devrait probablement être "2px" pour spécifier 2 pixels */
    }
  }
}
.dialog-ball .dialog-content .dialog-list {
  /* Vos styles ici */
}

/* Styles pour les images à l'intérieur du dialogue */
.dialog-ball .dialog-content .box-image-projet .image-projet {
  /* Vos styles ici */
}
/* Styles pour les liens à l'intérieur du dialogue */
.dialog-ball .dialog-content .link {
  /* Vos styles ici */
}
/* Styles pour les dialogues */
.interest-dialog {
  .dialog-title {
    background-color: var(--theme-primary-color);
    color: white;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .dialog-content {
    background-color: var(--theme-primary-color-back);
    color: var(--theme-text-color);
    padding: 20px;
    border-radius: 0 0 4px 4px;
  }

  .dialog-text {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: bold;
    color: var(--theme-text-color);
  }
}

.dialog-card {
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
}

.dialog-card-content {
  font-size: 1rem;
  line-height: 1.6;
}

// EFFETS
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 0.5s ease-out; /* Durée de l'animation */
}

// Définir l'animation de frappe
@keyframes typing {
  from {
    width: 0; // Commencer avec une largeur de texte de 0
  }
  to {
    width: 100%; // Augmenter progressivement la largeur du texte jusqu'à 100%
  }
}

// Appliquer l'animation aux éléments avec la classe "typing-animation"
.typing-animation {
  overflow: hidden; // Cacher le texte qui déborde
  white-space: nowrap; // Empêcher le texte de passer à la ligne
  animation: typing 2s steps(40, end); // Utiliser l'animation "typing" avec une durée de 2 secondes
}

.dialog-content p {
  animation: typing 2s steps(60, end);
}
